body
{
	background-color: #1a1d20;
	margin: 0;
	color: #93c3c6 !important;
}

p
{
	color: #3a444e;
}

p.title
{
	font-size: 36px;
}

p.subtitle
{
	font-size: 12px;
	margin-top: -42px;
}

p.result
{
	margin-top: 30px;
}

p.js
{
	margin-top: 30px;
}

a
{
	color: #5c666f;
	text-decoration: none;
}

a:hover
{
	color: #93c3c6;
	text-decoration: underline;
}

a:active, a.active
{
	color: #93c3c6;
}

section#sidebar
{
	position: absolute;
	width: 200px;
	height: 100%;
	background-color: #121314;
	overflow-x: hidden;
	overflow-y: auto;
}

section#sidebar header
{
	width: 160px;
	margin: 20px;
}

section#sidebar section.content
{
	margin-top: 40px;
}

section#example
{
	width: 1000px;
	position: absolute;
	left: 200px;
	margin-left: 30px;
	margin-top: 30px;
	margin-right: 30px;
}

section#example iframe
{
	width: 600px;
	border: none;
	background-color: #1b2426;
}